html, body, div, span, applet, object, iframe,
p, h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    list-style-type: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Aller rg";
  src: url("../fonts/aller_rg-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_rg-webfont.eot") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.woff2") format("woff2"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller bd";
  src: url("../fonts/aller_bd-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_bd-webfont.eot") format("embedded-opentype"), url("../fonts/aller_bd-webfont.woff") format("woff"), url("../fonts/aller_bd-webfont.woff2") format("woff2"), url("../fonts/aller_bd-webfont.ttf") format("truetype"), url("../fonts/aller_bd-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller bdit";
  src: url("../fonts/aller_bdit-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_bdit-webfont.eot") format("embedded-opentype"), url("../fonts/aller_bdit-webfont.woff") format("woff"), url("../fonts/aller_bdit-webfont.woff2") format("woff2"), url("../fonts/aller_bdit-webfont.ttf") format("truetype"), url("../fonts/aller_bdit-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller it";
  src: url("../fonts/aller_it-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_it-webfont.eot") format("embedded-opentype"), url("../fonts/aller_it-webfont.woff") format("woff"), url("../fonts/aller_it-webfont.woff2") format("woff2"), url("../fonts/aller_it-webfont.ttf") format("truetype"), url("../fonts/aller_it-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller ltit";
  src: url("../fonts/aller_ltit-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_ltit-webfont.eot") format("embedded-opentype"), url("../fonts/aller_ltit-webfont.woff") format("woff"), url("../fonts/aller_ltit-webfont.woff2") format("woff2"), url("../fonts/aller_ltit-webfont.ttf") format("truetype"), url("../fonts/aller_ltit-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller lt";
  src: url("../fonts/aller_lt-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller_lt-webfont.eot") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.woff2") format("woff2"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nzlw48");
  src: url("../fonts/icomoon.eot?nzlw48#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nzlw48") format("truetype"), url("../fonts/icomoon.woff?nzlw48") format("woff"), url("../fonts/icomoon.svg?nzlw48#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-with-circle-down:before {
  content: "\e901"; }

.icon-grid:before {
  content: "\e907"; }

.icon-shopping_cart:before {
  content: "\e900"; }

.icon-th-list:before {
  content: "\e908"; }

.icon-th-large:before {
  content: "\e909"; }

.icon-export-outline:before {
  content: "\e902"; }

.icon-star-outline:before {
  content: "\e903"; }

.icon-eye-outline:before {
  content: "\e904"; }

.icon-chevron-circle-down:after {
  content: "\e90a"; }

.icon-cart-arrow-down:before {
  content: "\e905"; }

.icon-search:before {
  content: "\e906"; }

.icon-circle-down:before {
  content: "\ea43"; }

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("fancybox.png"); }

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none; }

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none; }

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff; }

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101; }

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url("fancybox.png") -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0; }

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top; }

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block; }

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url("blank.gif");
  z-index: 1102;
  display: none; }

#fancybox-left {
  left: 0px; }

#fancybox-right {
  right: 0px; }

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

#fancybox-left-ico {
  background-image: url("fancybox.png");
  background-position: -40px -30px; }

#fancybox-right-ico {
  background-image: url("fancybox.png");
  background-position: -40px -60px; }

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

#fancybox-left:hover span {
  left: 20px; }

#fancybox-right:hover span {
  left: auto;
  right: 20px; }

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png"); }

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -162px; }

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("fancybox-y.png");
  background-position: -20px 0px; }

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -182px; }

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png");
  background-position: 0px -20px; }

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -142px; }

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("fancybox-y.png"); }

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -122px; }

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102; }

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative; }

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff; }

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left; }

#fancybox-title-over {
  padding: 10px;
  background-image: url("fancy_title_over.png");
  display: block; }

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px; }

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto; }

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap; }

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -40px -90px no-repeat; }

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("fancybox-x.png") 0px -40px; }

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("fancybox.png") -55px -90px no-repeat; }

.center-content {
  margin: 0 auto;
  display: block; }

.screen-width {
  width: 960px;
  min-width: 320px; }

.screen-width-lg {
  width: 980px;
  min-width: 320px; }

.grey24-bgcolor {
  background-color: #242424; }

.white-bgcolor {
  background-color: #ffffff; }

.grey18-bgcolor {
  background-color: #2e2e2e; }

.wildSand-bgcolor {
  background-color: #ebe7df; }

#main-nav.display-block {
  display: block; }

.burger-nav {
  display: none; }

body {
  overflow-x: hidden; }

input {
  outline: none; }

.logo-menu {
  height: 45px; }
  .logo-menu h1 {
    display: inline;
    text-transform: uppercase;
    font: 26px "STHeitiSC Medium", "sans-serif";
    line-height: 41px;
    position: absolute; }
    .logo-menu h1 a {
      color: #57c5a0; }
  .logo-menu ul {
    display: inline-block;
    float: right;
    line-height: 45px;
    border-right: 1px solid #eeeeee; }
  .logo-menu li {
    display: inline;
    color: #b1aeae; }
    .logo-menu li:nth-child(1) {
      font: 12px "Aller rg", "sans-serif";
      line-height: 18px;
      border-right: 1px solid #eeeeee;
      padding: 14px; }
    .logo-menu li a {
      color: #7e7e7e;
      font: 11px "Aller rg", "sans-serif";
      line-height: 25px;
      padding: 14px; }

header .flex-container {
  display: flex;
  justify-content: space-between; }

.search {
  margin-top: 11px;
  color: #b1aeae;
  background: transparent;
  text-transform: uppercase;
  border: none;
  width: 114px;
  font: 12px "Aller", "sans-serif"; }

#main-nav {
  width: 57.29167%;
  display: flex;
  justify-content: flex-start;
  height: 60px; }
  #main-nav li {
    text-align: center;
    flex: 1 1 0;
    height: 100%;
    border-left: 1px solid #eeeeee; }
    #main-nav li:last-child {
      border-right: 1px solid #eeeeee; }
  #main-nav a {
    font: 16px "Aller rg", "sans-serif";
    line-height: 25px;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }

#additional-nav {
  display: flex;
  width: 18.75%;
  justify-content: flex-end; }
  #additional-nav li {
    flex: 1 1 0;
    text-align: center;
    border-left: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center; }
    #additional-nav li:last-child {
      border-right: 1px solid #eeeeee; }
    #additional-nav li:first-child {
      display: none; }
  #additional-nav span {
    font: 12px "Aller bd", "sans-serif";
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    line-height: 18px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px; }
  #additional-nav .icon-star-outline:hover, #additional-nav .icon-shopping_cart:hover {
    color: #57c5a0; }

.quantity-icons {
  background-color: #adadad;
  margin-right: 7px; }
  .quantity-icons:hover {
    background-color: #57c5a0; }

.slider {
  position: relative;
  height: 460px;
  overflow: hidden; }
  .slider .center-content {
    position: relative;
    height: 100%; }

.firstSlide {
  height: 100%;
  background-image: url("../img/bg.png");
  background-repeat: repeat-x; }

.slide.secondSlide {
  background-image: url("../img/bg_2.jpg");
  background-repeat: repeat-x; }
  .slide.secondSlide img {
    left: -50%; }

.slide.thirdSlide img {
  left: -44%; }

.slide.show-slide {
  opacity: 1;
  z-index: 100; }

.slide {
  opacity: 0;
  z-index: 90;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .slide img {
    width: auto;
    height: 100%;
    position: absolute;
    left: -26%; }

.slider-nav li {
  cursor: pointer; }

.text {
  position: absolute;
  width: 380px;
  right: 9%;
  bottom: 19%; }
  .text h2 {
    font: 40px "Aller lt", "sans-serif";
    margin-top: 30px;
    line-height: 40px;
    color: #242424; }
  .text p {
    font: 20px "Aller lt", "sans-serif";
    line-height: 25px;
    color: #242424;
    margin-bottom: 10px; }
  .text .icon-container {
    cursor: pointer;
    font: 20px "Aller lt", "sans-serif";
    line-height: 25px;
    color: #242424;
    margin-bottom: 10px;
    display: flex;
    width: 166px;
    height: 40px;
    overflow: hidden; }
    .text .icon-container span {
      margin: 1px;
      padding: 10px;
      background-color: #ffffff;
      font-size: 20px; }

.icon-container span:hover {
  color: #57c5a0; }

.toggle-slide {
  padding-top: 10px;
  display: flex;
  justify-content: center; }
  .toggle-slide li {
    border-left: 6px solid #000000;
    border-right: 6px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
    .toggle-slide li:nth-child(2) {
      border-left: 2px solid #2e2e2e;
      border-right: 2px solid #2e2e2e; }

.toggle {
  width: 200px;
  height: 5px;
  background-color: #000000; }

.active {
  background-color: #57c5a0; }

.slider-nav {
  display: flex;
  justify-content: center; }
  .slider-nav h2 {
    font: 18px "Aller rg", "sans-serif";
    line-height: 25px;
    color: #adadad; }
    .slider-nav h2.active {
      color: #ffffff; }
  .slider-nav li {
    text-align: center;
    width: 194px; }
  .slider-nav p {
    font: 12px "Aller rg", "sans-serif";
    line-height: 25px;
    color: #adadad; }

.specials {
  display: flex;
  justify-content: space-between; }
  .specials li {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative; }
    .specials li h1 {
      font: 25px "Aller lt", "sans-serif";
      background-color: #000000;
      opacity: 0.7;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      text-transform: uppercase;
      line-height: 60px;
      color: #ffffff;
      text-align: center; }

.onsale-badge:after {
  content: "ON SALE!";
  background-color: #242424;
  padding: 22px 0px; }

.badge {
  position: relative; }
  .badge:after {
    font: 13px "Aller bd", "sans-serif";
    position: absolute;
    width: 76px;
    top: 0px;
    right: 15px;
    text-align: center;
    color: #ffffff;
    line-height: 25px; }

.outofstock-badge:after {
  content: "OUT OF STOCK";
  background-color: #f27e4b;
  padding: 10px 0px; }

.item-title-icons {
  height: 42px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #eeeeee; }
  .item-title-icons h3, .item-title-icons .icon-container {
    position: absolute;
    right: 0px;
    left: 88px;
    -webkit-transition: bottom 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out;
    -ms-transition: bottom 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out;
    transition: bottom 0.3s ease-out; }
  .item-title-icons h3 {
    bottom: 10px; }
  .item-title-icons .icon-container {
    bottom: -100%; }
    .item-title-icons .icon-container span {
      margin: 1px;
      padding: 10px;
      font-size: 20px; }

.price {
  font: 13px "Aller bd", "sans-serif";
  line-height: 25px;
  color: #ffffff;
  background-color: #57c5a0;
  padding: 21px 10px 21px 10px;
  display: inline; }

.shoe-box img {
  width: 100%; }
.shoe-box h1 {
  font: 25px "Aller lt", "sans-serif";
  line-height: 60px;
  color: #242424;
  padding-top: 20px;
  padding-bottom: 20px; }
.shoe-box .show-button {
  font: 14px "Aller bd", "sans-serif";
  padding: 5px 15px;
  border: 1px solid #bcb5a7;
  line-height: 25px;
  color: #bcb5a7;
  float: right;
  margin-top: -69px;
  cursor: pointer; }
  .shoe-box .show-button:hover {
    border-color: #242424;
    color: #242424; }
.shoe-box .items {
  display: block; }
  .shoe-box .items h3 {
    font: 18px "Aller rg", "sans-serif";
    line-height: 25px;
    color: #242424;
    width: auto; }
  .shoe-box .items .price {
    position: absolute;
    bottom: 0px;
    left: 9px;
    z-index: 1; }
.shoe-box li {
  width: 304px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #ffffff; }
  .shoe-box li:hover h3 {
    bottom: 100%; }
  .shoe-box li:hover .icon-container {
    bottom: 12px; }

.section-header {
  margin: 0px 10px; }

.addons {
  padding-bottom: 30px;
  display: flex; }

.addon {
  flex-basis: 220px;
  background-color: #dfdbd4;
  padding: 20px;
  margin-top: 26px;
  margin-left: 10px;
  margin-right: 10px; }
  .addon:nth-child(3) {
    flex-basis: 500px; }
  .addon h3 {
    font: 14px "Aller bd", "sans-serif";
    line-height: 60px;
    text-transform: uppercase; }
  .addon p {
    font: 12px "Aller", "sans-serif";
    line-height: 16px; }
  .addon span {
    font: 12px "Aller it", "sans-serif"; }

.blog {
  margin-bottom: 10px;
  display: block;
  content: '';
  clear: both; }
  .blog h2 {
    font: 14px "Aller bd", "sans-serif";
    display: inline; }
  .blog p {
    font: 12px "Aller", "sans-serif";
    display: inline; }

/*footer*/
.widgets {
  display: flex;
  justify-content: space-around; }

.widget {
  padding: 40px 0;
  width: 250px;
  line-height: 18px; }
  .widget:first-child {
    text-align: justify; }
  .widget span {
    color: #54bd9a; }
  .widget h3 {
    font: 14px "Aller rg", "sans-serif";
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #7d7d7d; }
  .widget p {
    font: 12px "Aller it", "sans-serif";
    color: #a4a4a4;
    line-height: 18px; }
  .widget img {
    display: inline-block; }

.divider-two {
  background-color: #1c1c1c;
  height: 1px;
  border: 0; }

.contact-wrapper {
  display: flex;
  justify-content: space-between; }

.flex-content {
  height: 120px;
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-right: 50px; }
  .flex-content input[type="email"] {
    font: 12px "Aller it", "sans-serif";
    color: #7d7d7d;
    line-height: 18px;
    background-color: #2e2e2e;
    border: 0;
    padding-left: 13px;
    height: 36px;
    width: 213px;
    vertical-align: middle; }
  .flex-content form {
    font-size: 0px; }

#arrow-wrapper {
  background-color: #7d7d7d;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }

#arrow {
  background-color: transparent;
  border-right: 3px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  border-top: transparent;
  border-left: transparent;
  width: 7px;
  height: 14px;
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 10px;
  margin-left: 11px;
  cursor: pointer; }

.socials {
  background-color: #2e2e2e;
  margin-left: 10px;
  flex: 1 1 0;
  text-align: center;
  width: 36px;
  height: 36px; }
  .socials img {
    padding-top: 6px;
    margin-bottom: -13px; }
  .socials:hover {
    background-color: #1c1c1c;
    cursor: pointer; }

.footer-details {
  color: #7d7d7d;
  height: 90px;
  align-items: center; }
  .footer-details p {
    font: 12px "Aller", "sans-serif";
    line-height: 18px; }
    .footer-details p:first-child {
      padding-top: 28px; }

.footer-nav {
  display: flex;
  justify-content: space-between; }
  .footer-nav li:not(:last-child):after {
    content: " / "; }
  .footer-nav a {
    font: 12px "Aller", "sans-serif";
    color: #7d7d7d;
    line-height: 25px; }

.search-form {
  display: inline; }

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

#login-form, #register-form {
  position: absolute;
  width: 340px;
  height: 350px;
  background-color: #242424;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px #242424;
  padding: 10px;
  box-sizing: border-box;
  z-index: -1;
  opacity: 0;
  top: 33%;
  right: 34%;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out; }
  #login-form label, #login-form h2, #login-form .submit-form, #register-form label, #register-form h2, #register-form .submit-form {
    font: 19px "Aller rg", "sans-serif";
    color: #ffffff; }
  #login-form form, #register-form form {
    margin-left: 8%; }
  #login-form p, #register-form p {
    font: 15px "Aller rg", "sans-serif";
    color: #ffffff;
    margin-top: 35px; }
    #login-form p span, #register-form p span {
      font-size: 19px;
      cursor: pointer; }
  #login-form h2, #register-form h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px; }

.email {
  width: 250px;
  border: 2px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #ebe7df; }

.password {
  margin-top: 5px;
  width: 250px;
  border: 2px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #ebe7df; }

.submit-form {
  margin-top: 24px;
  width: 92px;
  height: 30px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #7d7d7d; }

.close-form {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 315px;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/close.png") #ffffff;
  padding: 2px; }

.icon-search {
  cursor: pointer; }

.search-input {
  display: none; }

.search-input-open {
  display: inline;
  border: transparent;
  background: transparent;
  text-transform: uppercase;
  color: #ebe7df; }

#main-nav a.on {
  color: #57c5a0; }

.date {
  font: 10px "Aller bd", "sans-serif";
  line-height: 12px;
  width: 36px;
  height: 36px;
  background-color: #57c5a0;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  padding-top: 5px; }

.before, .brand-results:before, .category-results:before {
  display: none;
  width: auto;
  color: #ffffff;
  text-align: center;
  font: 12px "Aller rg", "sans-serif";
  padding-top: 10px; }

.search-results {
  width: auto;
  height: auto;
  background-color: #4c4c4c;
  z-index: 200;
  position: relative;
  left: 63.7%;
  top: 45px;
  display: inline-block; }
  .search-results .brand-results, .search-results .category-results {
    width: 100%;
    height: auto;
    min-width: 100px; }
    .search-results .brand-results li, .search-results .category-results li {
      cursor: pointer;
      border-right: none;
      border-bottom: 1px solid #eeeeee;
      display: block;
      text-transform: uppercase;
      padding: 5px 0 5px 10px;
      font: 12px "Aller rg", "sans-serif";
      line-height: 18px; }

.brand-results:before {
  content: "BRANDS"; }

.brand-results.show:before {
  display: block; }

.category-results:before {
  content: "CATEGORIES"; }

.category-results.show:before {
  display: block; }

.message {
  font-size: 16px;
  display: none;
  color: #eeeeee; }

a.fancybox img {
  border: none;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a.fancybox:hover img {
  position: relative;
  z-index: 999;
  -o-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03); }

.products-header {
  position: relative; }
  .products-header .center-content {
    height: 100%;
    position: relative; }
  .products-header img {
    width: 100%;
    height: 260px; }
  .products-header .text {
    top: -185px;
    bottom: 0px; }
    .products-header .text h3 {
      position: relative;
      margin-right: 10px; }
    .products-header .text h2 {
      display: inline-block;
      position: absolute;
      top: -33px;
      left: 90px;
      margin: 0px; }
    .products-header .text p {
      margin-top: 30px; }

.filter-wrapper {
  display: flex;
  justify-content: space-between; }
  .filter-wrapper li {
    padding: 20px;
    margin: 15px 0px;
    width: 180px;
    text-align: center; }
    .filter-wrapper li:not(:first-child) {
      background-color: #242424; }
    .filter-wrapper li span {
      display: inline;
      font: 22px "Aller rg", "sans-serif";
      line-height: 25px;
      color: #ffffff; }
  .filter-wrapper .wrapper-dropdown {
    position: relative;
    cursor: pointer; }
  .filter-wrapper .dropdown {
    position: absolute;
    left: -20px;
    background: #242424;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    bottom: -293px;
    z-index: -1; }
    .filter-wrapper .dropdown:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-width: 0 8px 8px 8px;
      border-style: solid;
      border-top-color: #242424;
      border-right-color: transparent;
      border-bottom-color: #242424;
      border-left-color: transparent; }
    .filter-wrapper .dropdown li {
      font: 16px "Aller rg", "sans-serif";
      line-height: 30px;
      display: block;
      padding: 10px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      color: #ffffff;
      width: 200px;
      margin: 0;
      cursor: pointer; }
      .filter-wrapper .dropdown li:hover {
        background-color: #57c5a0; }

.enable.dropdown {
  opacity: 1;
  z-index: 4; }

.shoebox-header {
  display: flex;
  margin: 0 10px; }
  .shoebox-header div {
    flex: 1 1 0; }
    .shoebox-header div > * {
      display: inline-block; }

.breadcrumbs {
  font: 12px "Aller rg", "sans-serif"; }
  .breadcrumbs span {
    font: 25px "Aller LT", "sans-serif";
    line-height: 60px;
    color: #242424; }
  .breadcrumbs a:nth-of-type(1):after {
    content: ">";
    color: #bcb5a7; }
  .breadcrumbs a {
    padding: 5px;
    color: #bcb5a7;
    line-height: 25px; }

.action-buttons {
  font: 14px "Aller bd", "sans-serif";
  color: #bcb5a7;
  text-align: right;
  line-height: 30px;
  margin: 15px 0px; }
  .action-buttons span {
    padding: 5px;
    height: 28px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    line-height: 28px; }
    .action-buttons span .icon-chevron-circle-down {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -14px; }
  .action-buttons .icon-grid, .action-buttons .icon-th-list {
    font-size: 28px;
    cursor: pointer; }
  .action-buttons .action-button {
    border: 1px solid #bcb5a7; }

.shoes li {
  height: 268px;
  margin-bottom: 30px; }

.divider-one {
  background-color: #bcb5a7;
  height: 1px;
  border: 0;
  width: auto;
  margin-top: 35px; }

.products-page .items {
  display: block; }
  .products-page .items li {
    display: inline-block;
    margin: 10px;
    width: 304px; }

.products-page span.icon-grid {
  box-shadow: 5px 5px 5px #7d7d7d; }

.shoes .list h3 {
  left: 0; }
.shoes .list li {
  display: block;
  width: 100%;
  margin: 10px auto; }
.shoes .list img {
  max-width: 300px;
  display: block;
  margin: 0 auto; }
.shoes .list .price {
  left: initial;
  right: 19px;
  bottom: 53px; }
.shoes .list .icon-container {
  right: 50%;
  margin-right: -110px;
  width: 220px;
  left: initial; }
.shoes .list .item-title-icons {
  text-align: center; }

@media (min-width: 768px) and (max-width: 960px) {
  .screen-width-lg {
    width: 720px; }

  .screen-width {
    width: 720px; }

  #main-nav {
    width: 76.38889%; }

  #additional-nav {
    width: 23.61111%; }
    #additional-nav li:first-child {
      border-left: none; }

  .text {
    right: 0%;
    bottom: 19%;
    width: 391px; }
    .text h2 {
      margin-top: 32px;
      margin-bottom: 11px;
      margin-left: -3px; }
    .text p {
      margin-left: -2px; }
      .text p:nth-child(4) {
        opacity: 0.9; }

  .slide img {
    left: -23%; }

  .specials li {
    width: 220px;
    overflow: hidden; }
    .specials li:nth-child(1) {
      margin-left: 10px;
      margin-right: 10px; }
      .specials li:nth-child(1) img {
        position: absolute;
        left: -20%; }
    .specials li:nth-child(2) img {
      right: 20%;
      position: relative; }
    .specials li:nth-child(3) {
      margin-left: 10px;
      margin-right: 10px; }
      .specials li:nth-child(3) img {
        left: -21%;
        position: absolute; }

  .section-header {
    margin-left: 0px; }

  .shoe-box li {
    width: 217px;
    margin-left: 10px;
    margin-right: 10px; }
    .shoe-box li:nth-child(3n) h3 {
      line-height: 16px; }

  .addon:first-child {
    display: none; }
  .addon:nth-child(3) {
    flex-basis: 460px; }

  .widgets {
    justify-content: space-between; }

  .widget {
    margin-left: 10px;
    margin-right: 10px;
    flex: 0 1 auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 240px; }
    .widget:nth-child(2) {
      display: none; }

  .flex-content {
    margin-right: 10px;
    margin-left: 10px; }

  .products-page .items li {
    width: 217px;
    height: 204px; }

  .footer-details {
    margin-right: 10px;
    margin-left: 10px; }

  .items h3 {
    bottom: 6px; }
  .items .price {
    padding: 16px 4px; }

  .item-title-icons .icon-container span {
    margin: 1px;
    padding: 2px;
    font-size: 16px; }

  .badge:after {
    font: 12px "Aller bd", "sans-serif";
    width: 60px;
    right: 6px;
    line-height: 22px;
    padding: 6px 0px;
    text-align: center; }

  .onsale-badge:after {
    padding-top: 16px;
    padding-bottom: 16px; }

  .slide.thirdSlide img {
    left: -480px; }

  .slide.secondSlide img {
    left: -537px; }

  .search-results {
    left: 51.7%; }

  .items.list {
    left: initial !important;
    bottom: 55px; }
    .items.list .price {
      right: 6px; }
    .items.list li {
      width: 100%;
      height: 268px; } }
@media screen and (max-width: 768px) {
  .screen-width-lg {
    width: 87.5%; }

  .screen-width {
    width: 87.5%; }

  .burger-nav {
    display: block;
    background: url("../img/burger-nav.png") no-repeat 50% center;
    cursor: pointer;
    width: 25%;
    border-left: 1px solid #eeeeee;
    height: 60px; }

  #main-nav {
    flex-flow: row wrap;
    z-index: 9999999;
    display: none; }
    #main-nav li {
      flex: 1 100%;
      background: #7d7d7d;
      border-bottom: 1px solid #eeeeee;
      height: auto; }
      #main-nav li:last-child {
        border-right: 0px; }

  #additional-nav {
    width: 75.75%; }
    #additional-nav li {
      padding-left: 10px;
      padding-right: 10px; }
      #additional-nav li:nth-child(1) {
        display: flex; }

  .open {
    display: flex; }

  .logo-menu ul {
    display: inline-block;
    float: right;
    line-height: 40px;
    height: 45px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
  .logo-menu li {
    display: inline;
    color: #b1aeae; }
    .logo-menu li:nth-child(1) {
      display: none; }
    .logo-menu li:nth-child(2) {
      padding-left: 10px;
      padding-right: 10px;
      border-right: 0px; }

  .slide {
    height: 100%; }
    .slide img {
      width: auto;
      height: 65%;
      position: absolute;
      left: 95%;
      top: -36px;
      margin-left: -455px; }

  .text {
    width: 100%;
    right: 0%; }
    .text p {
      font: 16px "Aller lt", "sans-serif";
      line-height: 20px; }

  .toggle-slide {
    display: none; }

  .slider-nav {
    width: 70%;
    display: block;
    padding-top: 10px;
    margin-left: 13%; }
    .slider-nav li {
      width: 100%;
      border-bottom: 4px solid #b1aeae;
      border-left: 4px solid #b1aeae;
      border-right: 4px solid #b1aeae; }
      .slider-nav li:first-child {
        border-top: 4px solid #b1aeae; }
      .slider-nav li:hover {
        border: 4px solid #57c5a0; }

  .specials {
    display: block;
    padding-bottom: 10px; }
    .specials li {
      width: 85.71429%;
      margin: 0 auto;
      display: block;
      padding-top: 10px; }
      .specials li h1 {
        font-size: 19px; }
      .specials li img {
        width: 100%; }

  .shoe-box h1 {
    font-size: 19px;
    display: block;
    text-align: center; }
  .shoe-box li {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }
  .shoe-box .show-button {
    padding: 0px 6px;
    font-size: 13px;
    float: none; }
  .shoe-box .items {
    display: block; }
  .shoe-box .section-header {
    text-align: center;
    margin-bottom: 20px; }

  .addons {
    display: block; }

  .addon {
    width: 70%;
    margin: 26px auto; }
    .addon:first-child {
      display: none; }
    .addon p {
      font: 16px "Aller", "sans-serif"; }
    .addon span {
      font: 14px "Aller it", "sans-serif"; }

  .widgets {
    display: block; }

  .widget {
    width: 75%;
    display: block;
    margin: 0 auto; }
    .widget:nth-child(2) {
      display: none; }
    .widget img {
      width: 32%; }

  .flex-content {
    padding: 10px 0px;
    width: 84%;
    height: 48px;
    max-width: 271px;
    margin: 0 auto; }

  .contact-wrapper {
    display: block; }

  .socials {
    margin-left: 0px;
    display: inline;
    margin-right: 2%;
    padding: 3px; }

  .footer-details {
    margin-right: 0px;
    margin-left: 3%;
    width: 88%;
    text-align: center;
    height: auto;
    padding-bottom: 5px; }
    .footer-details p:first-child {
      padding-top: 22px;
      font-size: 13px;
      line-height: 28px; }

  .footer-nav {
    display: block;
    height: auto; }
    .footer-nav li {
      border: 1px solid #eeeeee;
      width: 50%;
      margin-left: 25%;
      margin-top: 5px;
      margin-bottom: 7px; }
      .footer-nav li:not(:last-child):after {
        content: none; }
    .footer-nav a {
      color: #7d7d7d;
      font: 12px "Aller", "sans-serif";
      line-height: 18px; }

  .products-page .products-header {
    overflow: hidden; }
    .products-page .products-header img {
      width: auto;
      position: absolute;
      left: -72%; }
  .products-page .text {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: relative; }
    .products-page .text h2 {
      font-size: 27px;
      display: inline-block;
      top: 0px; }
  .products-page .price {
    display: inline-block; }
  .products-page .items li {
    display: block;
    width: 90%;
    margin: 20px auto;
    height: 100%; }
  .products-page .list img {
    width: 46%; }
  .products-page .list .price {
    bottom: 53px;
    padding: 6px 12px;
    right: 16px; }
  .products-page .list h3, .products-page .list .icon-container {
    left: 0px;
    text-align: center; }
  .products-page .list .badge:after {
    padding: 8px 0px;
    line-height: 18px; }
  .products-page .list .outofstock-badge:after {
    padding: 1px 0; }

  .filter-wrapper {
    display: block;
    margin: 0 auto;
    height: 100%;
    padding: 15px 0; }
    .filter-wrapper > li {
      margin: 15px auto;
      width: 74%; }
      .filter-wrapper > li:first-child {
        margin: 0px auto 15px; }
      .filter-wrapper > li:last-child {
        margin: 15px auto 0px; }

  .wrapper-dropdown .dropdown {
    position: static;
    height: 0px;
    padding-top: 20px;
    -webkit-transition: opacity 0s ease-in;
    -moz-transition: opacity 0s ease-in;
    -ms-transition: opacity 0s ease-in;
    -o-transition: opacity 0s ease-in;
    transition: opacity 0s ease-in; }
    .wrapper-dropdown .dropdown.enable {
      height: auto;
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in; }
    .wrapper-dropdown .dropdown li {
      margin: 0 auto; }

  .shoebox-header {
    display: block;
    margin: 0 auto;
    width: 94%; }
    .shoebox-header .breadcrumbs {
      display: block;
      margin: 0 auto;
      text-align: center; }
    .shoebox-header .action-buttons {
      display: block;
      margin: 0 auto;
      text-align: center; }
      .shoebox-header .action-buttons span {
        display: block;
        width: 46%;
        margin: 7px auto; }

  .slide.thirdSlide img {
    left: 35%;
    height: 100%; }

  .slide.secondSlide img {
    height: 100%;
    left: 0;
    top: -227px;
    left: -7%; }
  .slide.secondSlide .text {
    bottom: 7%;
    right: inherit; }

  #login-form, #register-form {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    width: 300px;
    right: 0;
    top: 0; }
    #login-form form, #register-form form {
      margin-left: 4%; }
    #login-form .close-form, #register-form .close-form {
      left: 272px; }

  .search-input-open {
    width: 100%; }

  .search-results {
    top: 105px;
    left: 24.7%; }
    .search-results .brand-results, .search-results .category-results {
      min-width: auto; }

  #main-nav.display-block {
    position: absolute;
    top: 105px;
    width: 100%;
    height: auto;
    left: 0; } }

/*# sourceMappingURL=style.css.map */
