$allerFonts : rg, bd, bdit, it, ltit, lt;
@each $allerFont in $allerFonts {
    @font-face{
      font-family: 'Aller #{$allerFont}';
      src: url('../fonts/aller_#{$allerFont}-webfont.eot'); /* IE9 Compat Modes */
      src: url('../fonts/aller_#{$allerFont}-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/aller_#{$allerFont}-webfont.woff') format('woff'), /* Super Modern Browsers */
           url('../fonts/aller_#{$allerFont}-webfont.woff2') format('woff2'), /* Pretty Modern Browsers */
           url('../fonts/aller_#{$allerFont}-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/aller_#{$allerFont}-webfont.svg') format('svg'); /* Legacy iOS */
          font-weight: normal;
           font-style: normal;
    }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nzlw48');
  src:  url('../fonts/icomoon.eot?nzlw48#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nzlw48') format('truetype'),
    url('../fonts/icomoon.woff?nzlw48') format('woff'),
    url('../fonts/icomoon.svg?nzlw48#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-down:before {
  content: "\e901";
}
.icon-grid:before {
  content: "\e907";
}
.icon-shopping_cart:before {
  content: "\e900";
}
.icon-th-list:before {
  content: "\e908";
}
.icon-th-large:before {
  content: "\e909";
}
.icon-export-outline:before {
  content: "\e902";
}
.icon-star-outline:before {
  content: "\e903";
}
.icon-eye-outline:before {
  content: "\e904";
}
.icon-chevron-circle-down:after {
  content: "\e90a";
}
.icon-cart-arrow-down:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-circle-down:before {
  content: "\ea43";
}


