//my mixins
@mixin font( $font-size, $font-family...) {
  	font: $font-size $font-family;
}

@mixin clearfix {
	display:block;
	content: '';
	clear:both;
}

@mixin percentWidth($target, $context) {
	width: percentage($target / $context);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition-property, $transition-duration, $transition-timing-function){
	-webkit-transition: $transition-property $transition-duration $transition-timing-function;
	-moz-transition: $transition-property $transition-duration $transition-timing-function;
	-ms-transition: $transition-property $transition-duration $transition-timing-function;
	-o-transition: $transition-property $transition-duration $transition-timing-function;
	transition: $transition-property $transition-duration $transition-timing-function;
}
@mixin transform($property){
	-o-transform: $property;
	-ms-transform: $property;
	-moz-transform: $property;
	-webkit-transform: $property;
}