.screen-width-lg {
	@include percentWidth( 280px, $mobileWidth);
}
.screen-width {
		@include percentWidth( 280px, $mobileWidth);
	}
	.burger-nav {
		display: block;
		background: url('../img/burger-nav.png') no-repeat 50% center;
		cursor: pointer;
		width: 25%;
		border-left: 1px solid $whiteShade;
		height: 60px;
	}
	#main-nav {
		flex-flow: row wrap;
		z-index: 9999999; 
		display: none;
		li{
			flex: 1 100%;
			background: $grey;
			border-bottom: 1px solid #eeeeee;
			height: auto;
			&:last-child {
				border-right: 0px;
			}
		}
	}
	#additional-nav {
		width: 75.75%;
		li{
			padding-left: 10px;
			padding-right: 10px;
			&:nth-child(1){
				display: flex;
			}
		}
	}
	.open {
		display: flex;
		}

	.logo-menu {
	
		ul {
			display: inline-block;
			float: right;
			line-height: 40px;
			height: 45px;
			border-left: 1px solid #eeeeee;
	   		border-right: 1px solid #eeeeee;
		}
		li {	
			display: inline;
			color: $greyDark;
			&:nth-child(1) {
				display: none;

			}
			&:nth-child(2) {
			    padding-left: 10px;
			    padding-right: 10px;
			    border-right: 0px;
			}
		}
	}
	.slide {
		height: 100%;
		img {
			width: auto;
			height: 65%;
			position: absolute;
			left: 95%;
			top: -36px;
			margin-left: -455px;
		}
	}
	.text {
		width: 100%;
		right: 0%;
		p {
			@include font( 16px, 'Aller lt','sans-serif');
			line-height: 20px;
		}
	}
	.toggle-slide {
		display: none;
	}
	.slider-nav {
		width: 70%;
		display: block;
		padding-top: 10px;
		margin-left: 13%;
		li {
			width: 100%;
			&:first-child {
				border-top: 4px solid $greyDark;
			}
			border-bottom: 4px solid $greyDark;
			border-left: 4px solid $greyDark;
			border-right:  4px solid $greyDark;
			&:hover {
				border: 4px solid $puertoRico;
			}
			
		}
	}
	.specials {
		display: block;
		padding-bottom: 10px;
		li {
			@include percentWidth(240,280);
			margin: 0 auto;
			display: block;
			h1{
				font-size: 19px;
			}
			img{
				width:100%;
			}
			padding-top:10px;
		}
	}
	.shoe-box {
		h1 {
			font-size: 19px;
			display: block;
			text-align: center;
		}
		li{
			width: 90%;
		    margin: 0 auto;
		    display: block;
		    margin-bottom: 20px;
		}
		.show-button {
			padding: 0px 6px;
			font-size: 13px;
			float: none;
		}
		.items {
			display:block;
		}
		.section-header {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.addons {
		display: block;
	}
	.addon {
		width: 70%;
		margin: 26px auto;
		&:first-child {
				display: none;
			}
		p{
			@include font( 16px, 'Aller','sans-serif');
		}
		span{
			@include font( 14px, 'Aller it','sans-serif');
		}
	}
	.widgets{
		display: block;
	}

	.widget {
		width: 75%;
		display: block;
		margin: 0 auto;
		&:nth-child(2) {
			display: none;
		}
		img {
			width: 32%;
		}
	}

	.flex-content {
		padding: 10px 0px;
		width: 84%;
		height: 48px;
		max-width: 271px;
		margin: 0 auto;

	}
	.contact-wrapper {
		display: block;
	}
	.socials {
		margin-left: 0px;
		display: inline;
		margin-right: 2%;
		padding: 3px;
	}

	.footer-details {
		margin-right: 0px;
		margin-left: 3%;
		width: 88%;
		text-align: center;
		height: auto;
		padding-bottom: 5px;
		p:first-child {
			padding-top: 22px;
			font-size: 13px;
			line-height: 28px;
		}
	}
	.footer-nav {
	display: block;
	height: auto;
	li{
		border: 1px solid $whiteShade;
		width: 50%;
		margin-left: 25%;
		margin-top: 5px;
		margin-bottom: 7px;
		&:not(:last-child) {
			&:after {
				content:none;
			}
		}
	}
	a{
		color: $grey;
		@include font( 12px, 'Aller','sans-serif');
		line-height: 18px;
	}
}
//mQ products page
.products-page {
	.products-header {
		overflow: hidden;
		img{
			width:auto;
			position: absolute;
			left: -72%;
		}
	}
	.text {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		h2{
			font-size: 27px;
			display: inline-block;
			top:0px;
		}
		position: relative;
	}
	.price {
		display: inline-block;
	}
	.items li {
		display:block;
		width:90%;
		margin: 20px auto;
		height:100%;

	}
	.list {
		img{
			width: 46%;
		}
		.price {
			bottom: 53px;
			padding: 6px 12px;
			right: 16px;
		}
		h3,.icon-container {
			left: 0px;
			text-align: center;
		}
		.badge:after{
			padding: 8px 0px;
			line-height: 18px;
		}
		.outofstock-badge:after{
			padding: 1px 0;
		}
	}

}
.filter-wrapper{
	display: block;
	margin: 0 auto;
	height:100%;
	padding: 15px 0;
	> li{
		margin:15px auto;
		width:74%;
		&:first-child {
			margin: 0px auto 15px;
		}
		&:last-child {
			margin: 15px auto 0px;
		}
	}
}
.wrapper-dropdown .dropdown{
	position: static;
	height: 0px;
	padding-top: 20px;
	@include transition(opacity, 0s, ease-in);
	&.enable {
		height: auto;
		@include transition(opacity, 0.5s, ease-in);
	}
	li {
		margin: 0 auto;
	}
}
.shoebox-header{
	display: block;
    margin: 0 auto;
    width: 94%;
    .breadcrumbs{
	   	display: block;
	    margin: 0 auto;
	    text-align: center;
    }
    .action-buttons{
	   	display: block;
	    margin: 0 auto;
	    text-align: center;
	    span{
	    	display: block;
	    	width: 46%;
	    	margin: 7px auto;
	    }
    }
}
.slide.thirdSlide{
	img{
		left: 35%;
		height: 100%;
	}
} 
.slide.secondSlide{
	img{
		height: 100%;
		left: 0;
		top: -227px;
		left: -7%;
	}
	.text{
		bottom: 7%;
		right: inherit;
	}
}
#login-form, #register-form{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
	width: 300px;
	right: 0;
	top: 0;
	form{
		margin-left: 4%;
	}
	.close-form{
		left: 272px;
	}
}
.search-input-open{
	width: 100%;
}
.search-results {
	top: 105px;
	left: 24.7%;
	.brand-results, .category-results {
		min-width: auto;
	}
}
#main-nav.display-block{
	position: absolute;
	top: 105px;
	width: 100%;
	height: auto;
	left: 0;
}