.screen-width-lg {
	width: 720px;
}
.screen-width {
	width: 720px;
}
#main-nav {
	@include percentWidth(550px,720px);
}
#additional-nav {
	@include percentWidth(170px, 720px);
	li:first-child {
		border-left:none;
	}
}
.text {
	right: 0%;
	bottom: 19%;
	width: 391px;
	h2 {
		margin-top: 32px;
		margin-bottom: 11px;
		margin-left:-3px;
	}
	p{
		margin-left: -2px;
		&:nth-child(4){
			opacity: 0.9;
		}
	}

}

.slide {
	img {
		left: -23%;
	}
}
.specials {
	li {
		width: 220px;
		overflow: hidden;
		&:nth-child(1){
			margin-left: 10px;
			margin-right: 10px;
			img{
				position: absolute;
				left: -20%;
			}
		}
		&:nth-child(2){
			img{
				right: 20%;
				position: relative;
			}
		}
		&:nth-child(3){
			margin-left: 10px;
			margin-right: 10px;
			img{
				left: -21%;
				position: absolute;
			}
		}
	}
}
.section-header{
	margin-left: 0px;
}
.shoe-box {
	li{
		width: 217px;
		margin-left: 10px;
		margin-right: 10px;
		&:nth-child(3n) h3{
			line-height: 16px;
		}
	}
}
.addon{
	&:first-child{
		display: none;
	}
	&:nth-child(3) {
		flex-basis: 460px;
	}
}
.widgets{
	justify-content: space-between;
}

.widget {
	margin-left: 10px;
	margin-right: 10px;
	&:nth-child(2){
		display: none;
	}
	flex: 0 1 auto;
	padding-left: 0px;
	padding-right: 0px;
	width: 240px;
}

.flex-content {
	margin-right: 10px;
	margin-left: 10px;
}
.products-page .items li{
	width: 217px;
	height: 204px;

}
.footer-details{
	margin-right: 10px;
	margin-left: 10px;
}
.items {
	h3 {
		bottom: 6px;
	}	
	.price{
		padding: 16px 4px;
	}
}
.item-title-icons {
	.icon-container {
		span {
			margin: 1px;
		    padding: 2px;
		    font-size: 16px;
		}
	}
}
.badge:after {
	font: 12px "Aller bd", "sans-serif";
    width: 60px;
    right: 6px;
    line-height: 22px;
    padding: 6px 0px;
    text-align: center;
}
.onsale-badge:after{
	padding-top: 16px;
	padding-bottom: 16px;
}
.slide.thirdSlide{
	img{
		left: -480px;
	}
}
.slide.secondSlide{
	img{
		left: -537px;
	}
}
.search-results{
	left: 51.7%;
}
.items.list{
	left: initial !important;
	bottom: 55px;
	.price{
		right: 6px;
	}
	li{
		width: 100%;
		height: 268px;
	}
}
