//products
.products-header {
	position: relative;
	.center-content {
		height: 100%;
		position: relative;
	}
	img{
		width:100%;
		height:260px;	
	}
	.text {
		top:-185px;
		bottom:0px;
			h3{
			position: relative;
			margin-right: 10px;
		}
		h2{
			display: inline-block;
			position: absolute;
			top: -33px;
			left: 90px;
			margin: 0px;
		}
		p{
			margin-top: 30px;
		}
	}
}
.filter-wrapper{
	display: flex;
	justify-content: space-between;
	li{
		padding: 20px;
		margin: 15px 0px;
		width: 180px;
		text-align: center;
		&:not(:first-child){
			background-color: $grey24;
		}
		span {
			display: inline;
			@include font( 22px, 'Aller rg','sans-serif');
			line-height: 25px;
			color: $white;
		}
	}
	
	.wrapper-dropdown{
		position: relative;
		cursor: pointer;
	}
	.dropdown {
		position: absolute;
	    left: -20px;
	    background: $grey24;
	    @include transition(opacity, 0.5s, ease-in);
	    opacity: 0;
	    bottom: -293px;
	    z-index: -1;
	    &:before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			bottom: 100%;
			left:50%;
			border-width: 0 8px 8px 8px;
			border-style: solid;
			border-top-color: $grey24;
		    border-right-color: transparent;
		    border-bottom-color:$grey24;
		    border-left-color: transparent;
	    }
		li {
			@include font(16px, 'Aller rg', 'sans-serif');
			line-height: 30px;
			display: block;
		    padding: 10px;
		    @include transition(all, 0.3s, ease-out);
		    color: $white;
		    width: 200px;
		    margin: 0;
		    cursor: pointer;
		    &:hover{
		    	background-color: $puertoRico;
		    }
		}
	}
}

.enable.dropdown{
	opacity: 1;
	z-index: 4;
}
.shoebox-header{
	display: flex;
	margin:0 10px;
	div{
		flex: 1 1 0;
		>*{
			display: inline-block;
		}
	}
}
.breadcrumbs{
	@include font( 12px, 'Aller rg','sans-serif');
	span{
		@include font( 25px, 'Aller LT','sans-serif');
		line-height: 60px;
		color: $grey24;

	}
	a:nth-of-type(1) {
		&:after {
			content: ">" ;
			color: $grayish;
		}
	}
	a{
		padding: 5px;
		color: $grayish;
		line-height: 25px;
	}
}
.action-buttons {
	@include font( 14px, 'Aller bd','sans-serif');
	color: $grayish;
	text-align: right;
	line-height: 30px;
	margin: 15px 0px;
	span {
		padding: 5px;
		height: 28px;
		margin-left:10px;
		vertical-align: middle;
		display: inline-block;
		line-height: 28px;
		
		.icon-chevron-circle-down {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top:-14px; // formula -(height/2)
		}
	}
	.icon-grid,.icon-th-list {
		font-size: 28px;
		cursor: pointer;
	}
	.action-button{
		border: 1px solid $grayish;
	}
}
.shoes {
	li {
		height:268px;
		margin-bottom: 30px;
	}
}
.divider-one {
	background-color: $grayish; 
	height: 1px; 
	border: 0; 
	width: auto;
	margin-top: 35px;
}
.products-page{
	.items{
		display: block;
		li{
			display: inline-block;
			margin: 10px;
			width: 304px;
		}
	}
}
.products-page span.icon-grid{
	box-shadow: 5px 5px 5px $grey;
}
//list product tile
.shoes{
	.list{
		h3{
			left: 0;
		}
		li{
			display: block;
			width: 100%;
			margin: 10px auto;
		}
		img{
			max-width: 300px;
			display: block;
			margin: 0 auto;
		}
		.price{
			left: initial;
			right: 19px;
			bottom: 53px; 
		}
		.icon-container {
			right: 50%;
		    margin-right: -110px;
		    width: 220px;
		    left: initial;
		}
		.item-title-icons {
			text-align: center;
		}
	}
}