@import 'reset', 'variables', 'fonts', 'mixins','jquery.fancybox-1.3.4';

.center-content {
	margin:0 auto;
	display:block;
}
.screen-width {
	width: $laptopWidth;
	min-width: 320px;
}
.screen-width-lg{
	width: $laptopWidth + 20px;
	min-width: 320px;
}
//bg-colors classes
.grey24-bgcolor {
	background-color: $grey24;
}
.white-bgcolor {
	 	background-color: $white;
	 }
.grey18-bgcolor {
	background-color: $grey18;
}
.wildSand-bgcolor {
background-color: $wildSand;
}

//end bg color
#main-nav.display-block {
 display: block;
}
.burger-nav {
	display: none;
}
body {
	overflow-x: hidden;
}
input {
	outline: none;
}
.logo-menu {
	height:45px;
	h1 {
		display:inline;
		text-transform:uppercase;
		@include font(26px, 'STHeitiSC Medium','sans-serif'); 
		line-height: 41px;
		position: absolute;
		a {
			color: $puertoRico;
		}
	}
	ul {
		display: inline-block;
		float: right;
		line-height: 45px;
		border-right: 1px solid $whiteShade;
	}
	li {	
		display: inline;
		color: $greyDark;
		&:nth-child(1) {
			@include font(12px, 'Aller rg', 'sans-serif');
			line-height: 18px;
			border-right: 1px solid $whiteShade;
			padding: 14px;

		}
		a {
			color: $greyShade;
			@include font(11px, 'Aller rg', 'sans-serif');
			line-height: 25px;
			padding: 14px;
		}
	}
}
header {
	.flex-container {
		display: flex;
		justify-content: space-between;
	}
}
.search {
	margin-top: 11px;
	color: $greyDark;
	background: transparent;
	text-transform: uppercase;
	border: none;
	width: 114px;
	@include font( 12px, 'Aller','sans-serif');
}
#main-nav {
	@include percentWidth($main-navWidth, $laptopWidth);
	display: flex;
	justify-content: flex-start;
	height: 60px;
	li {
		text-align: center;
		flex: 1 1 0;
		height: 100%;
		border-left: 1px solid $whiteShade;
		&:last-child {
			border-right: 1px solid $whiteShade;
		}
	}
	a {
		@include font( 16px, 'Aller rg','sans-serif');
		line-height: 25px;
		color: $grey24;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
#additional-nav {
	display: flex;
	@include percentWidth($additional-navWidth, $laptopWidth);
	justify-content: flex-end;
	li {
		flex: 1 1 0;
		text-align: center;
		border-left: 1px solid $whiteShade;
		display: flex;
		justify-content: center;
		align-items: center;
		&:last-child {
			border-right: 1px solid $whiteShade;
		}
		&:first-child{
			display:none;
		}
	}
	span{
		@include font( 12px, 'Aller bd','sans-serif');
		@include border-radius(5px);
		line-height: 18px;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		cursor: pointer;
		font-size: 16px;
	}
	.icon-star-outline:hover,.icon-shopping_cart:hover{
		color: $puertoRico;

	}
}
.quantity-icons{
	background-color: $greyDarkShade;
	margin-right: 7px;
	&:hover{
		background-color: $puertoRico;
	}
}
//slider
.slider {
	position: relative;
	height: 460px;
	overflow: hidden;
	.center-content {
		position: relative;
		height: 100%;
	}
}
.firstSlide {
	height: 100%;
	background-image: url("../img/bg.png");
	background-repeat: repeat-x;
}
.slide.secondSlide{
	background-image: url("../img/bg_2.jpg");
	background-repeat: repeat-x;
	img{
		left: -50%;
	}
}
.slide.thirdSlide{
	img{
		left: -44%;
	}
}
.slide.show-slide{
	opacity: 1;
	z-index: 100;
}
.slide {
	opacity: 0;
	z-index: 90;
	@include transition(opacity, 0.5s, ease-in);
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	img {
		width: auto;
		height: 100%;
		position: absolute;
		left: -26%;
	}
}
.slider-nav li{
	cursor: pointer;
}
.text {
	position: absolute;
	width: 380px;
	right: 9%;
	bottom: 19%;

	h2 {
		@include font( 40px, 'Aller lt','sans-serif');
		margin-top: 30px;
		line-height: 40px;
		color: $grey24;
	}
	p{
		@include font( 20px, 'Aller lt','sans-serif');
		line-height: 25px;
		color: $grey24;
		margin-bottom: 10px;
	}
	.icon-container {
		cursor: pointer;
		@include font( 20px, 'Aller lt','sans-serif');
		line-height: 25px;
		color: $grey24;
		margin-bottom: 10px;
		display:flex;
		width: 166px;
		height: 40px;
		overflow: hidden;
		span {
			margin: 1px;
			padding:10px;
			background-color: $white;
			font-size:20px;
		}
	}
}
.icon-container span:hover{
	color: $puertoRico;
}
//slider-toggle
.toggle-slide{
	padding-top:10px;
	display: flex;
	justify-content: center;
	li{
		border-left: 6px solid $black;
		border-right: 6px solid $black;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		&:nth-child(2){
			border-left: 2px solid $grey18;
			border-right: 2px solid $grey18;
		}
	}
}
.toggle {
		width: 200px;
		height: 5px;
		background-color: $black;
		
	}
.active {
			background-color: $puertoRico;
		}
.slider-nav {
	display:flex;
	justify-content: center;
	h2 {
		@include font( 18px, 'Aller rg','sans-serif');
		line-height:25px;
		color: $greyDarkShade;
		&.active {
			color: $white;
		}
	}
	li {
		text-align:center;
		width: 194px;	
	}
	p {
		@include font( 12px, 'Aller rg','sans-serif');
		line-height:25px;
		color: $greyDarkShade;
	}
}
//on sale special offers must have
.specials {
	display: flex;
	justify-content: space-between;
	li {
		margin-top: 25px;
   		margin-bottom: 25px;
		position: relative;
	h1 {
		@include font( 25px, 'Aller lt','sans-serif');
		background-color: $black ;
		opacity: 0.7;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		left:50%;
		width: 200px;
		margin-left: -100px;
		text-transform: uppercase;
		line-height:60px;
		color: $white;
		text-align: center;
		}
	}
}
//main
.onsale-badge {
	&:after {
		content: "ON SALE!";
		background-color: $grey24;
		padding: 22px 0px;
	}
}
.badge {
	position: relative;
	&:after{
		@include font( 13px, 'Aller bd','sans-serif');
		position: absolute;
		width: 76px;
		top: 0px;
		right: 15px;
		text-align: center;
		color: $white;
		line-height: 25px;
	}
}
.outofstock-badge {
	&:after {
		content: "OUT OF STOCK";
		background-color: $softOrange;
		padding: 10px 0px;
	}
}
.item-title-icons{
	height: 42px;
	position: relative;
	overflow: hidden;
	border-top: 1px solid $whiteShade;
	h3, .icon-container{
		position: absolute;
		right: 0px;
		left: 88px;
		@include transition(bottom, 0.3s, ease-out);
	}
	h3{
		bottom: 10px;

	}
	.icon-container{
		bottom: -100%;
		span{
			margin: 1px;
			padding: 10px;
			font-size: 20px;
		}
	}
}
.price {
		@include font( 13px, 'Aller bd','sans-serif');
		line-height: 25px;
		color: $white;
		background-color: $puertoRico;
		padding: 21px 10px 21px 10px;
		display: inline;
	}
.shoe-box {
	img{
		width: 100%;
	}
	h1 {
		@include font( 25px, 'Aller lt','sans-serif');
		line-height: 60px;
		color: $grey24;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.show-button {
		@include font( 14px, 'Aller bd','sans-serif');
		padding: 5px 15px;
		border: 1px solid $grayish;
		line-height: 25px;
		color: $grayish;
		float: right;
		margin-top: -69px;
		cursor: pointer;
		&:hover{
			border-color: $grey24;
			color: $grey24;
		}
	}
	.items {
		// font-size: 0px;
		display: block;
		h3 {
			@include font( 18px, 'Aller rg','sans-serif');
			line-height: 25px;
			color: $grey24;
			width: auto;
		}
		.price {
			position: absolute;
			bottom:0px;
			left:9px;
			z-index:1;
		}
	}
	li {
		width: 304px;
		margin: 10px;
		display: inline-block;
		cursor:pointer;
		position: relative;
		background-color: $white;
		&:hover{
			h3{
				bottom: 100%;
			}
			.icon-container{
				bottom: 12px;

			}
		}
	}
}
.section-header{
	margin: 0px 10px;
}
//addons section
.addons {
	padding-bottom: 30px;
	display:flex;
}
.addon {
	flex-basis: 220px;
	background-color: $merino;
	padding: 20px;
	margin-top: 26px;
	margin-left: 10px;
    margin-right: 10px;
	&:nth-child(3) {
		flex-basis: 500px;
	}
	h3 {
		@include font( 14px, 'Aller bd','sans-serif');
		line-height: 60px;
		text-transform: uppercase;
	}
	p {
		@include font( 12px, 'Aller','sans-serif');
		line-height: 16px;
		
	}
	span {
		@include font( 12px, 'Aller it','sans-serif');
	}
}
.blog {
	margin-bottom: 10px;
	@include clearfix;
	h2 {
		@include font( 14px, 'Aller bd','sans-serif');
		display: inline;
	}
	p {
		@include font( 12px, 'Aller','sans-serif');
		display: inline;
	}
		
}
/*footer*/
.widgets {
	display: flex;
	justify-content: space-around;
}
.widget {
	padding: 40px 0;
	width: 250px;
	line-height: 18px;
	&:first-child{
		text-align: justify;
	}
	span {
		color: $greenShade;
	}
	h3 {
		@include font( 14px, 'Aller rg','sans-serif');
		padding-bottom:20px;
		text-transform: uppercase;
		color: $grey;
	}
	p {
		@include font( 12px, 'Aller it','sans-serif');
		color: $darkGrey;
		line-height: 18px;
	}
	img {
		display: inline-block;
	}
}
.divider-two { 
	background-color: $grey20; 
	height: 1px; 
	border: 0; 
}
.contact-wrapper {
	display: flex;
	justify-content: space-between;
}
.flex-content {
	height: 120px;
	display: flex;
	align-items: center;
	margin-left: 35px;
    margin-right: 50px;
	input[type="email"]{
		@include font( 12px, 'Aller it','sans-serif');
		color: $grey;
		line-height:18px;
		background-color: $grey18;
		border: 0;
		padding-left: 13px;
		height: 36px;
		width: 213px;
		vertical-align: middle;
	}
	form{
		font-size: 0px;
	}
}
#arrow-wrapper{
	background-color: $grey;
	height: 38px;	
	width: 38px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
#arrow{
	background-color: transparent;
	border-right: 3px solid $grey18;
	border-bottom: 3px solid $grey18;
	border-top: transparent;
	border-left: transparent;
	width: 7px;
	height: 14px;
	@include transform(rotate(-45deg));
	margin-top: 10px;
	margin-left: 11px;
	cursor: pointer;
}
.socials{
	background-color: $grey18;
	margin-left: 10px;
	flex:1 1 0;
	text-align: center;
	width:36px;
	height: 36px;
	img{
		padding-top: 6px;
		margin-bottom: -13px;
	}
	&:hover{
		background-color: $grey20;
		cursor: pointer;

	}
}
.footer-details{
	color: $grey;
	height: 90px;
	align-items: center;
	p{
		@include font( 12px, 'Aller','sans-serif');
		line-height: 18px;
		&:first-child {
			padding-top: 28px;
		}
	}
}
.footer-nav{
	display:flex;
	justify-content: space-between;
	li:not(:last-child){
		&:after{
			content:" / ";
		}
	}
	a{
		@include font( 12px, 'Aller','sans-serif');
		color: $grey;
		line-height: 25px;
	}
}
.search-form{
	display: inline;
}
//login&register forms
.blur {
     -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    }

#login-form, #register-form{
	position: absolute;
	width: 340px;
	height: 350px;
	background-color: $grey24;
	@include border-radius(3px);
	box-shadow:0px 0px 10px 0px $grey24;
	padding: 10px;
	box-sizing: border-box;
	z-index: -1;
	opacity: 0;
	top: 33%;
	right: 34%;
	@include transition(opacity, 0.6s, ease-in-out);
	label, h2, .submit-form{
		@include font(19px, 'Aller rg', 'sans-serif' );
		color: $white;
	}
	form{
		margin-left: 8%;
	}
	
	p{
		@include font(15px, 'Aller rg', 'sans-serif' );
		color: $white;
		margin-top: 35px;
		span{
			font-size: 19px;
			cursor: pointer;
		}
	}
	h2 {
		text-align: center;
		margin-bottom: 15px;
		font-size: 35px;
	}
	
}
.email {
	width:250px;
	border:2px solid silver;
	@include border-radius(3px);
	background-color: $wildSand;
}

.password {
	margin-top:5px;
	width:250px;
	border:2px solid silver;
	@include border-radius(3px);
	background-color: $wildSand;
}
.submit-form{
	margin-top: 24px;
	width: 92px;
	height: 30px;
	border: none;
	@include border-radius(3px);
	background-color: $grey;
}
.close-form {
	cursor: pointer;
	position: absolute;
	top: 8px;
	left: 315px;
	width: 15px;
	height: 15px;
	@include border-radius(50%);
	background:  url("../img/close.png") $white;
	padding: 2px;

}
//search expand class
.icon-search{
	cursor: pointer;
}
.search-input{
	display: none;
}
.search-input-open {
	display: inline;
	border: transparent;
	background: transparent;
	text-transform: uppercase;
	color: $wildSand; 
}
#main-nav a.on {
	color: $puertoRico;
}
.date {
	@include font(10px, 'Aller bd', 'sans-serif');
	line-height: 12px;
	width: 36px;
	height: 36px;
	background-color: $puertoRico;
	color: $white;
	text-align: center;
	display: inline-block;
	float: left;
	margin-right: 10px;
	box-sizing: border-box;
	padding-top: 5px;
}
.before {
	display: none;
	width: auto;
	color: $white;
	text-align: center;
	@include font(12px, 'Aller rg', 'sans-serif');
	padding-top: 10px;
}
.search-results{
	width: auto;
    height: auto;
    background-color: $veryDarkGrey;
    z-index: 200;
    position: relative;
    left: 63.7%;
    top: 45px;
    display: inline-block;
    .brand-results, .category-results{
    	width: 100%;
    	height: auto;
    	min-width: 100px;
    	li{
    		cursor: pointer;
    		border-right: none;
    		border-bottom: 1px solid $whiteShade;
    		display: block;
    		text-transform: uppercase;
    		padding: 5px 0 5px 10px;
    		@include font(12px, 'Aller rg', 'sans-serif');
    		line-height: 18px;
    	}
    }
}
.brand-results:before{
	content: "BRANDS";
 	@extend .before;
}
.brand-results.show:before{display:block;}

.category-results:before{
	content: "CATEGORIES";
	@extend .before;
}
.category-results.show:before{display:block;}
.message{
	font-size: 16px;
	display: none;
	color: $whiteShade;
}
a.fancybox img {
	border: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	@include transform(scale(1,1));
	@include transition(all, 0.2s, ease-in-out);
} 
a.fancybox:hover img {
	position: relative;
	z-index: 999;
	@include transform(scale(1.03,1.03));
}
@import 'products';

@media (min-width:$tabletWidth) and (max-width:$laptopWidth){
	@import 'mQ-768px';
	}
@media screen and (max-width:$tabletWidth){
	@import 'mQ-320px';
}
