//width
$laptopWidth : 960px;
$tabletWidth : 768px;
$mobileWidth : 320px;
$main-navWidth : 550px;
$additional-navWidth : 180px;

//colors
$black: #000000;
$darkGrey: #a4a4a4;
$grey: #7d7d7d;
$grey20: #1c1c1c;
$grey24: #242424;
$grey18: #2e2e2e;
$greyDark: #b1aeae;
$greyShade: #7e7e7e;
$greyDarkShade: #adadad;
$merino: #dfdbd4;
$puertoRico : #57c5a0;
$wildSand: #ebe7df;
$white: #ffffff;
$whiteShade: #eeeeee;
$greenShade: #54bd9a;
$grayish: #bcb5a7;
$softOrange: #f27e4b;
$veryDarkGrey: #4c4c4c;